/*body {
	margin:0;
	padding:0;
}*/
#map {
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	width: 80%;
	height: 100%;
}

.navbar-brand {
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 2em;
}

.navbar {
	background-color: #0984e3;
}


.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    /*background-color: #fff; /* Black */*/
    background-color: rgb(248, 249, 250);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#sidebar-title {
	text-align: center;
}