/*body {
	margin:0;
	padding:0;
}*/
#map {
	position: absolute;
	/*top: 0;*/
	/*bottom: 0;*/
	width: 80%;
	height: 100%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right{
    display: none;
}

.navbar-brand {
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 2em;
}

.navbar {
	background-color: #0984e3;
}


.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    /*background-color: #fff; /* Black */*/
	border: 0px solid;
    background-color: rgba(255, 255, 255, 1.0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#sidebar-title {
	text-align: center;
}

#reset {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 1;
	/*visibility: hidden;*/
}

#brand {
    font-weight: 700;
    font-size: 15vw;
    text-shadow: 1px 1px #B8CBD4, 
                 2px 2px #B8CBD4, 
                 3px 3px #B8CBD4,
                 4px 4px #B8CBD4, 
                 5px 5px #B8CBD4, 
                 6px 6px #B8CBD4,
                 7px 7px #B8CBD4, 
                 8px 8px #B8CBD4, 
                 9px 9px #B8CBD4,
                 10px 10px #B8CBD4;
}