@font-face {
  font-family: "Circular";
  src: url("./fonts/circular-book.otf") format("opentype");
}

body {
	/*margin:0;
	padding:0;*/
    font-family: "Circular";
}
#map {
	position: absolute;
	/*top: 0;*/
	/*bottom: 0;*/
	width: 80%;
	height: 100%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right{
    display: none;
}

.navbar-brand {
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 2em;
}

.navbar {
	background-color: #0984e3;
}


#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    /*background-color: #fff; /* Black */*/
	border: 0px solid;
    background-color: rgba(255, 255, 255, 1.0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
}

#sidebar-title {
	text-align: center;
}

#title {
	position: absolute;
	top: 20px;
	left: 20px;
	font-weight: 700;
	font-family: 'Circular', sans-serif;
    letter-spacing: 2px;
    /*font-size: 15vw;*/
/*    text-shadow: 1px 1px #fff, 
                 2px 2px #fff;*/
    /*text-shadow: 1px 1px #fff;*/
}

#reset {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 1;
	/*visibility: hidden;*/
}


#sidebar-body {
	padding: 20px;
}

#sidebar h5 {
	text-align: center;
}